* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #1e293b;
    position: relative;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidenav {
    display: grid;
    background-color: white ;
    grid-template-rows: 1fr 9fr;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 25rem;
    text-align: center;
}

.main-content{
    width: 100%;
    display: flex;
    gap: 20px;
    margin: 20px;
}

.card {
    width: 200px;
    height: 100px;
    background-color: white;
}



.list-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}

.list-container > li {
    flex: 1;
    list-style-type: none;
}


.add {
    padding: 1rem 1.5rem;
    font-size: 2rem;
    border: none;
    border-radius: 60%;
    background-color: #64748b;
    color: white;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.addNotes {
    width: 100px;
    height: 100px;
}

.projectEditBtn, .projectDeleteBtn {
    width: 3.5rem;
    height: 1.3rem;
    border: none;
    color: white;
    font-size: 0.8rem;
}

.projectEditBtn {
    background-color: lightgreen;
}

.projectDeleteBtn {
    background-color: red;
}

.deleteModal { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    position: fixed;
    top: 40%;
    left: 50%;
    border: none;
}

.deleteModal > div > p {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.btn-dialog{
    display: flex;
    gap: 10px;
}

.noBtn, .yesBtn {
    padding: 0.2rem 1rem;
    color: white;
    border: none;
}

.noBtn { 
    background-color: red;
}

.yesBtn {
    background-color: lightseagreen;
}



